{% extends "base.html" %}
{% load static  %}
{% block title %}
ScanQr
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'scanner/css/scanner.css' %}">
{% endblock  %}

{% block content %}
<div class="form-container">
    <h2>Generate Qr Code</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{form.phone_number.label_tag}}
            {{form.phone_number}}
            {% for error in form.phone_number.errors %}
            <small class="error">{{error}}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.amount.label_tag }}
            {{ form.amount }}
            {% for error in form.amount.errors %}
                <small class="error">{{error}}</small>
            {% endfor %}
            <button type="submit" class="btn">Generate</button>
        </div>
    </form>
    <div class="qr-preview">
        {% if qr_image_url %}
        <img src="{{qr_image_url}}" alt="Generated QR Code">
        <br>
        <a href="{{qr_image_url}}"download class="download-buttuon">Save Qr</a>
        {% endif %}
    </div>

</div>
{% endblock %}